{% extends 'reminders/base.html' %}
{% load static %}
{% load reminders_extras %}

{% block page_title %} | Reminder Form{% endblock %}

{% block reminders_active %}active{% endblock %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "global/plugins/clockface/css/clockface.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "global/plugins/bootstrap-datepicker/css/datepicker3.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "global/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "global/plugins/bootstrap-colorpicker/css/colorpicker.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "global/plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "global/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" %}">
{% endblock %}

{% block content %}
<!-- BEGIN PAGE CONTENT-->
<div class="row">
    <div class="col-md-12">
        <div class="tabbable tabbable-custom tabbable-noborder tabbable-reversed">
            <div class="tab-pane">
                <div class="portlet light bordered form-fit">
                    <div class="portlet-title">
                        <div class="caption">
                            Reminder Form
                        </div>
                    </div>
                    <div class="portlet-body form">
                        <!-- BEGIN FORM-->
                        <form id="reminderForm" action="" method="post" class="form-horizontal form-bordered form-row-stripped">
                            {% csrf_token %}
                            <div class="form-body">
                                {{ form.non_field_errors }}
                                <div class="form-group">
                                    <div class="control-label col-md-3">Date and Time</div>
                                    <div class="col-md-9">
                                        {{ form.time.errors }}
                                        <div class="input-group date form_datetime">
                                            <input name="time" type="text" size="16" readonly="" class="form-control" value="{{ form.time.value|convert_date|default_if_none:'' }}">
                                            <span class="input-group-btn">
                                            <button class="btn default date-set" type="button"><i class="fa fa-calendar"></i></button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Equipment Number</label>
                                    <div class="col-md-9">
                                        {{ form.equipment_number.errors }}
                                        <input type="text" name="equipment_number" class="form-control" value="{{ form.equipment_number.value|default_if_none:'' }}">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-md-3">Reminder</label>
                                    <div class="col-md-9">
                                        {{ form.description.errors }}
                                        <textarea name="description" class="form-control">{{ form.description.value|default_if_none:'' }}</textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-actions">
                                <div class="row">
                                    <div class="col-md-offset-3 col-md-9">
                                        <button type="submit" class="btn green"><i class="fa fa-check"></i> Save</button>
                                        <a href="#" class="btn default" onclick="history.go(-1);">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static "global/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js" %}"></script>
<script type="text/javascript" src="{% static "global/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "global/plugins/clockface/js/clockface.js" %}"></script>
<script type="text/javascript" src="{% static "global/plugins/bootstrap-daterangepicker/moment.min.js" %}"></script>
<script type="text/javascript" src="{% static "global/plugins/bootstrap-daterangepicker/daterangepicker.js" %}"></script>
<script type="text/javascript" src="{% static "global/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js" %}"></script>
<script type="text/javascript" src="{% static "admin/pages/scripts/components-pickers.js" %}"></script>
<script>
    jQuery(document).ready(function() {
        ComponentsPickers.init();
    });
</script>
{% endblock %}
